<form class="thread {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>
  <div class="thread">
    <table>
        <tr>
            <td>{{localize "earthdawn.c.characteristic"}}</td>
            <td class="paddingLeftSmaller paddingRightSmaller">
                <select class="characteristic inherentWidth" name="system.characteristic" type="text" value="{{item.system.characteristic}}" data-dtype="String">
                  {{#select item.system.characteristic}}
                    <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                    <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                    <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                    <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                    <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                    <option value="durability">{{localize "earthdawn.d.durability"}}</option>
                    {{#each parentTalents as |talent id|}}
                      {{> "systems/earthdawn4e/templates/items/partials/threadTalentOptions-card.hbs" talent}}
                    {{/each}}
                  {{/select}}
                </select>
            </td>
            <td class="paddingRightSmaller">{{localize "earthdawn.r.rank"}}</td>
            <td class="paddingLeftSmaller">
                <input class="rank" name="system.rank" type="text" value="{{item.system.rank}}" />
            </td>
        </tr>
        <tr>
            <td>{{localize "earthdawn.t.target"}}</td>
            <td class="paddingLeftSmaller paddingRightSmaller">
                <input class="target" name="system.target" type="text" value="{{item.system.target}}" data-dtype="String"/>
            </td>
            
            <td>{{localize "earthdawn.a.active"}}</td>
            <td class="paddingLeftSmaller">
                <input class="active" name="system.active" type="checkbox" {{checked item.system.active}} data-dtype="Boolean" />
            </td>
        </tr>
    </table>        
    <div class="flexColumn">
        {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable}}
    </div>  
  </div>       
</form>
