<div class='combat'>
	<h2>{{localize "earthdawn.c.combat"}}</h2>

    {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/tables/weapons-table.hbs"}}

	{{#if (hasItems matrixes)}}
		<hr>

		{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/matrixes-table.hbs'}}
	{{/if}}

	<hr>

	<!-- Initiative -->
	<h3>{{localize "earthdawn.i.initiative"}}</h3>
	<div class='grid grid-3col'>
		<div>
			<label>{{localize "earthdawn.i.initiative"}} </label>
			<br>
			<input class='initiative-input' name="system.initiativeStep" type="text" value="{{actor.system.initiativeStep}}"/>
		</div>
		<div>
			<label>{{localize "earthdawn.i.initiativeDice"}} </label>
			<input class='initiative-input' name="system.initiativeDice" type="text" value="{{actor.system.initiativeDice}}" readonly/>
		</div>
		<div>
			<button class="buttonAction take-damage">{{localize "earthdawn.t.takeDamage"}}</button>
		</div>
	</div>

	<hr>

	<div class='grid grid-3col'>
		<!-- Modifier -->
		<div>
			<!-- Combat modifier -->
			<h3>{{localize "earthdawn.c.combatModifier"}}</h3>
			<h4>{{localize "earthdawn.c.combatOptions"}}</h4>

			<div>
				<input type="checkbox" name="system.tactics.aggressive" {{checked actor.system.tactics.aggressive}}/>
				<label>{{localize "earthdawn.c.combatOptionsAggressive"}}</label>
			</div>
			<div>
				<input type="checkbox" name="system.tactics.defensive" {{checked actor.system.tactics.defensive}}/>
				<label>{{localize "earthdawn.c.combatOptionsDefensive"}}</label>
			</div>

			<!-- Situation modifier -->
			<h4>{{localize "earthdawn.c.combatSituationModifier"}}</h4>
			<div>
				<input name="system.tactics.knockeddown" type="checkbox" {{checked actor.system.tactics.knockeddown}}/>
				<label>{{localize "earthdawn.c.combatModifierKnockedDown"}}</label>
			</div>
			<div>
				<input name="system.tactics.harried" type="checkbox" {{checked actor.system.tactics.harried}}/>
				<label>{{localize "earthdawn.c.combatModifierHarried"}}</label>
			</div>
			<div>
				<input name="system.tactics.fatigue" type="checkbox" {{checked item.system.tactics.fatigue}}/>
				<label> {{localize "earthdawn.c.combatModifierFatigue"}}</label>
				<input class="circleRight circleInput" name="system.fatigue.times" value="{{actor.system.fatigue.times}}" type="text" data-dtype="Number" />
        	</div>
		</div>

		<!-- Favorites -->
		<div>
			<h3>{{localize "earthdawn.h.hotlist"}}</h3>
			<ol class="items-list">
				{{#each favorites as |favorite id|}}
					{{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/talent-card-short.hbs" favorite}}
				{{/each}}
			</ol>
		</div>

		<!-- Tests -->
		<div>
			<h3>{{localize "earthdawn.a.action"}}</h3>
			<button class="buttonAction knockdown-test">{{localize "earthdawn.c.combatOptionsKnockdownTest"}}</button>
			<button class="buttonAction jump-up">{{localize "earthdawn.c.combatOptionsJumpUp"}}</button>
		</div>
	</div>
	&nbsp;
      <!-- Thread to true Pattern -->
    <div class="spaceSmaller">
        <h3>{{localize "earthdawn.t.threadsPersonal"}}</h3>
        {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/tables/thread-table.hbs" }}
	</div>
	&nbsp;
	  <!-- effects -->
    <div class="spaceSmaller">
        <h3>{{localize "earthdawn.e.effects"}}</h3>
        {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/tables/effects-table.hbs" }}
	</div>

	<!-- NPC Specifics -->
	{{#if (NPC this)}}
		<div>
			<div>
				<table>
					<tr>
						<td>
							<label>{{localize "earthdawn.a.action"}}</label>
						</td>
						<td>
							<input name="system.action" type="text" value="{{actor.system.action}}"/>
						</td>
						<td>
							<label>{{localize "earthdawn.k.knockdownStep"}} </label>
						</td>
						<td>
							<input class="step-display" name="system.knockdown" type="text" value="{{actor.system.knockdown}}"/>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<table>
					<h3>{{localize "earthdawn.p.powers"}}</h3>
					<tr>
						<ol class="items-list">
							{{#each attacks as |attack id|}}
								{{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/attack-card.hbs" attack}}
							{{/each}}
						</ol>
					</tr>
				</table>
			</div>
		</div>
	{{/if}}
</div>
