<label>{{localize "earthdawn.d.devotionRequired"}}</label>
<select name="system.devotionRequired" class="inherent-width" value="{{item.system.devotionRequired}}">
    {{#select item.system.devotionRequired}}
        <option value="No">{{localize "earthdawn.n.no"}}</option>
        <option value="Yes">{{localize "earthdawn.y.yes"}}</option>
    {{/select}}
</select>
