<div class="optionBox">
  <div>
    <!-- navigator left -->
    <div class="navigatorOptionBox">
        <nav class="sheet-tabs navOptionBox tabs" data-group="primary">
            <ul class="list">
                <li><a class="item" data-tab="inputfields">{{localize "earthdawn.i.input"}}</a></li>
                <li><a class="item" data-tab="difficulties">{{localize "earthdawn.d.difficulties"}}</a></li>
                <li><a class="item" data-tab="modifier">{{localize "earthdawn.m.modifier"}}</a></li>
                <li><a class="item" data-tab="overview">{{localize "earthdawn.o.overview"}}</a></li>  
            </ul>
        </nav>
    </div>
    <div class="sheet-body nav-optionBox-tabBody">     
        <!-- input fields -->
        <div class="tab inputfields" data-group="primary" data-tab="inputfields">
            <div class="misc-mod">
                <label class="misc-mod-description-option">{{localize "earthdawn.m.modifierStep"}}: </label>
                {{!-- <input class="misc-mod-input circleInput" id="dialog_box" autofocus/> --}}
                <input class="misc-mod-input circleInput" id="dialog_box" autofocus value={{inputs.modifier}} data-type="number" />
            </div>
            <div class="misc-mod">
                <label class="misc-mod-description-option">{{localize "earthdawn.d.difficulty"}}: </label>
                <input class="misc-mod-input circleInput" id="difficulty_box" value={{inputs.difficulty}} data-type="number" />
            </div>
            <div class="misc-mod">
                <label class="misc-mod-description-option">{{localize "earthdawn.s.strain"}}:</label>
                <input class="misc-mod-input circleInput" id="strain_box" value={{inputs.strain}} data-type="number" />
            </div>
            <div class="misc-mod">
                <label class="misc-mod-description-option">{{localize "earthdawn.k.karma"}}: </label>
                <input class="misc-mod-input circleInput" id="karma_box" value={{inputs.karma}} data-type="number" />
            </div>
            <div class="misc-mod">
              <label class="misc-mod-description-option">{{localize "earthdawn.d.devotion"}}: </label>
              <input class="misc-mod-input circleInput" id="devotion_box" value={{inputs.devotion}} data-type="number" />
            
            
            <select id="devotionDie_box" class="circleInputDropDown" value={{inputs.devotionDie}} >
                <option value="na">na</option>
                <option value="d4">{{localize "earthdawn.d.d"}}4</option>
                <option value="d6">{{localize "earthdawn.d.d"}}6</option>
                <option value="d8">{{localize "earthdawn.d.d"}}8</option>
            </select>
            </div>
        </div>
        <!-- tab2 -->
        <div class="tab difficulties" data-group="primary" data-tab="difficulties">
            <div>
                <div class="a">
                    <h4 class="centered">{{localize "earthdawn.d.defenseTarget"}}</h4>
                    <input type="radio" name="defense" value="none">
                    <label for="none">{{localize "earthdawn.n.none"}}</label><br>
                    <input type="radio" name="defense" value="physical">
                    <label for="physical">{{localize "earthdawn.d.defensePhysical"}}</label><br>
                    <input type="radio" name="defense" value="mystical">
                    <label for="mystical">{{localize "earthdawn.d.defenseMagical"}}</label><br>
                    <input type="radio" name="defense" value="social">
                    <label for="social">{{localize "earthdawn.d.defenseSocial"}}</label><br>
                    &nbsp;
                 </div>
                  <div class="a">
                    <h4 class="centered">{{localize "earthdawn.d.defenseGroup"}}</h4>
                    <input type="radio" name="targets" value="nodefenseHighestne">
                    <label for="defenseHighest">{{localize "earthdawn.d.defeneseHighest"}}</label><br>
                    <input type="radio" name="targets" value="defenseHighest+#">
                    <label for="defenseHighest+#">{{localize "earthdawn.d.defeneseHighest#"}}</label><br>
                    <input type="radio" name="targets" value="defenseLowest">
                    <label for="defenseLowest">{{localize "earthdawn.d.defenseLowest"}}</label><br>
                    <input type="radio" name="targets" value="defenseLowest+#">
                    <label for="defenseLowest+#">{{localize "earthdawn.d.defenseLowest#"}}</label><br>
                </div>
            </div>
        </div>
        <!-- tab3 -->
        <div class="tab modifier" data-group="primary" data-tab="modifier">
            <div>
                <!-- Attack to Stun-->
              <div  class="text-align-middle">
                  <input class="actionOption text-align-middle" type="checkbox" name="system.tactics.attackToStun" {{checked actor.system.tactics.attackToStun}}>
                  <label class="text-align-middle">
                      {{localize "earthdawn.c.combatOptionsStun"}}
                  </label>
              </div>
                <!--  attack from behind -->
                <!--  blindsided -->
                <!--  ... -->
                <!--  ... -->
            </div>
        </div>
        <!-- tab4 -->
        <div class="tab overview" data-group="primary" data-tab="overview">
                <!-- active mods -->
                <ul>
                  {{log inputs.activeMods}}
                  {{#each inputs.activeMods}}
                    {{log this}}
                    <li>{{this}}</li>
                  {{else}}
                    <p class="empty">No content</p>
                  {{/each}}
                </ul>
        </div>
    </div>
  
    
  </div>
    
</div>
<div class="dialog-buttons">
    <button class='dialog-button1 cancel button-cancel' data-button='cancel'>
      {{ localize 'earthdawn.c.cancel' }}
    </button>
    <button class='dialog-button1 ok default button-ok' data-button='ok'>
      {{ localize 'earthdawn.o.ok' }}
    </button>
</div> 


{{!-- 
  <section class="sheet-body option-box-content nav-optionBox-tabBody">
    <div class="misc-mod-popup dialog-content ">
      <!-- input fields -->
      <div class="tab nav-optionBox-tab inputfields" data-group="primary-tabs" data-tab="inputfields">
        <div class="misc-mod">
            <label class="misc-mod-description-option">{{localize "earthdawn.m.modifierStep"}}: </label>
            <input class="misc-mod-input circleInput" id="dialog_box" autofocus/>
        </div>
        <div class="misc-mod">
            <label class="misc-mod-description-option">{{localize "earthdawn.d.difficulty"}}: </label>
            <input class="misc-mod-input circleInput" id="difficulty_box" value={{inputs.difficulty}} data-type="number" />
        </div>
        <div>
          <div class="misc-mod">
              <label class="misc-mod-description-option">{{localize "earthdawn.s.strain"}}:</label>
              <input class="misc-mod-input circleInput" id="strain_box" value={{inputs.strain}} data-type="number" />
          </div>
        </div>
        <div class="misc-mod">
            <label class="misc-mod-description-option">{{localize "earthdawn.k.karma"}}: </label>
            <input class="misc-mod-input circleInput" id="karma_box" value={{inputs.karma}} data-type="number" />
        </div>
          <div class="misc-mod">
            <label class="misc-mod-description-option">{{localize "earthdawn.d.devotion"}}: </label>
            <input class="misc-mod-input circleInput" id="devotion_box" value={{inputs.devotion}} data-type="number" />
          </div>
      </div>
      <select id="devotionDie_box" value={{inputs.devotionDie}} >
          <option value="na">na</option>
          <option value="d4">{{localize "earthdawn.d.d"}}4</option>
          <option value="d6">{{localize "earthdawn.d.d"}}6</option>
          <option value="d8">{{localize "earthdawn.d.d"}}8</option>
      </select>
    <div>
      <!-- defenses -->
      <div class="partial-two">
          <h4 class="centered">{{localize "earthdawn.d.defenseTarget"}}</h4> <br>
          <input type="radio" name="defense" value="none">
          <label for="none">{{localize "earthdawn.n.none"}}</label><br>
          <input type="radio" name="defense" value="physical">
          <label for="physical">{{localize "earthdawn.d.defensePhysical"}}</label><br>
          <input type="radio" name="defense" value="mystical">
          <label for="mystical">{{localize "earthdawn.d.defenseMagical"}}</label><br>
          <input type="radio" name="defense" value="social">
          <label for="social">{{localize "earthdawn.d.defenseSocial"}}</label><br>
          
      </div>
    </div>
    <div>
      <div class="partial-two">
        <h4 class="centered">{{localize "earthdawn.d.defenseGroup"}}</h4>
        <input type="radio" name="targets" value="nodefenseHighestne">
        <label for="defenseHighest">{{localize "earthdawn.d.defeneseHighest"}}</label><br>
        <input type="radio" name="targets" value="defenseHighest+#">
        <label for="defenseHighest+#">{{localize "earthdawn.d.defeneseHighest#"}}</label><br>
        <input type="radio" name="targets" value="defenseLowest">
        <label for="defenseLowest">{{localize "earthdawn.d.defenseLowest"}}</label><br>
        <input type="radio" name="targets" value="defenseLowest+#">
        <label for="defenseLowest+#">{{localize "earthdawn.d.defenseLowest#"}}</label><br>
      </div>
    </div>
    </div>
  </section>
  
  

  
</div>
<div class="dialog-buttons">
    <button class='dialog-button1 cancel button-cancel' data-button='cancel'>
      {{ localize 'earthdawn.c.cancel' }}
    </button>
    <button class='dialog-button1 ok default button-ok' data-button='ok'>
      {{ localize 'earthdawn.o.ok' }}
    </button>
  </div>  --}}