<form class="taka-theme actor character flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

		<section class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'earthdawn.n.name' }}"/>
			</h1>

			{{!-- Character Legendpoints --}}
			{{#if (PC this)}}
				<aside class="top-right flexcol">
					<div class="legendPoints flexrow">
						<input name="system.legendpointcurrent" type="number" value="{{actor.system.legendpointcurrent}}"
							   placeholder="0"/>
						<span class="sep">/</span>
						<input name="system.legendpointtotal" type="number" class="max"
							   placeholder="0" value='{{actor.system.legendpointtotal}}'/>
						<span class="sep"></span>
						<span>LP</span>
					</div>
				</aside>
			{{/if}}

			{{!-- Header Attributes --}}
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/header-attributes.hbs'}}
		</section>
	</header>

	{{!-- Character Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="talents">{{ localize "earthdawn.t.talents" }}</a>
		<a class="item" data-tab="skills">{{ localize "earthdawn.s.skills" }}</a>
        {{#if (hasItems devotions)}}<a class="item" data-tab="devotions">{{ localize "earthdawn.d.devotions" }}</a> {{/if}}
        {{#if (hasItems spells)}}<a class="item" data-tab="spells">{{ localize "earthdawn.s.spells" }}</a> {{/if}}
        {{#if (hasItems matrixes)}}<a class="item" data-tab="matrixes">{{ localize "earthdawn.m.matrixes" }}</a> {{/if}}
        <a class="item" data-tab="inventory">{{ localize "earthdawn.i.inventory" }}</a>
		<a class="item" data-tab="combat">{{ localize "earthdawn.c.combat" }}</a>
		<a class="item" data-tab="biography">{{ localize "earthdawn.b.biography" }}</a>
	</nav>

	{{!-- Character Sheet Body --}}
	<section class="sheet-body grid grid-4col no-gap">
		{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/property-list.hbs'}}

		{{!-- Talents Tab --}}
		<div class="tab talents grid-span-3" data-group="primary" data-tab="talents">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/talents-table.hbs'}}
		</div>

		{{!-- Skills Tab --}}
		<div class="tab skills grid-span-3" data-group="primary" data-tab="skills">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/skills-table.hbs'}}
		</div>

        {{!-- Spells Tab --}}
        <div class="tab devotions grid-span-3" data-group="primary" data-tab="devotions">
            {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/devotions-table.hbs'}}
        </div>

		{{!-- Spells Tab --}}
		<div class="tab spells grid-span-3" data-group="primary" data-tab="spells">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/spells-table.hbs'}}
		</div>

		{{!-- Matrixes Tab --}}
		<div class="tab matrixes grid-span-3" data-group="primary" data-tab="matrixes">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/matrixes-table.hbs'}}
		</div>

		{{!-- Inventory Tab --}}
		<div class="tab inventory grid-span-3" data-group="primary" data-tab="inventory">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tabs/inventory-tab.hbs'}}
		</div>

		{{!-- Combat Tab --}}
		<div class="tab combat grid-span-3" data-group="primary" data-tab="combat">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tabs/combat-tab.hbs'}}
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography flexrow grid-span-3" data-group="primary" data-tab="biography">
			{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tabs/biography-tab.hbs'}}
		</div>
	</section>
</form>
