<form class="taka-theme item flexcol" autocomplete="off">

	<!-- SHEET HEADER -->
	{{> "systems/earthdawn4e/templates/taka-theme/items/partials/item-sheet-header.hbs"}}

	<!-- SHEET NAVIGATION -->
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="nav active" data-tab="description">{{ localize "earthdawn.d.description" }}</a>
		<a class="nav" data-tab="racial-abilities">{{ localize "earthdawn.r.racialAbilities" }}</a>
	</nav>

	<!-- SHEET BODY -->
	<section class="sheet-body">
		<!-- SIDEBAR -->
		<div class="tab flexrow active" data-group="primary" data-tab="description">
			{{> 'systems/earthdawn4e/templates/taka-theme/items/partials/sidebars/namegiver-sidebar.hbs'}}
			{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
		</div>

		<!-- RACIAL ABILITIES -->
		<div class="tab flexrow" data-group="primary" data-tab="racial-abilities">
			{{editor item.system.racialAbilites target="system.racialAbilites" button=true owner=owner editable=editable}}
		</div>
	</section>

</form>
