@import '../globals/variables';

@actorNameHeight: 60px;

.taka-theme.actor {
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    // Portrait Artwork
    img.profile {
      flex: 0 0 160px;
      max-width: 160px;
      height: 160px;
    }

    // Character Name
    h1.charname {
      flex: 1;
      height: @actorNameHeight;
      padding: 0;

      input {
        height: @actorNameHeight - 20px;
        margin: 10px 0;
      }
    }

    // Character Level
    .top-right {
      flex: 0 0 150px;
      margin-right: 3px;
      height: @actorNameHeight;
      justify-content: flex-end;
      text-align: right;
    }

    // Character Summary
    .summary {
      height: 30px;
      border-bottom: @borderGroove;
      font-size: 18px;

      input,
      span {
        display: block;
        height: 24px;
        line-height: 24px;
      }
    }

    // Primary Attributes
    .attributes {
      flex: 0 0 100%;
      margin: 0;

      .attribute {
        height: 70px;
        margin: 0;
        border: none;
        border-right: @borderGroove;
        border-radius: 0;

        &:last-child {
          border-right: none;
        }

        .attribute-value {
          height: 30px;
          line-height: 30px;

          div {
            input {
              font-weight: 400;
              font-size: 24px;
            }
          }

          .threshold {
            color: @colorTan;
          }
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */

  .sheet-body {
    .header {
      &-rank {
        padding-left: 65px;
      }
      &-attribute {
        padding-left: 40px;
      }
      &-action {
      }
      &-strain {
        padding-right: 70px;
      }
      &-effect {
        padding-left: 70px;
      }
      &-range {
        padding-left: 25px;
      }
      &-spell {
        padding-left: 50px;
      }
      &-threads-required {
        padding-right: 25px;
      }
      &-matrix-threads-required {
        padding-left: 70px;
      }
      &-disciplines {
        padding-right: 50px;
      }
    }

    .item-list {
      .matrix {
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }

    /* ----------------------------------------- */
    /*  Inventory                                */
    /* ----------------------------------------- */
    .top-row {
      margin: 0 8px;
      flex: 0 0 20px;
      justify-content: flex-end;

      .currency {
        list-style: none;
        margin: 4px 0 8px;
        padding: 0;
        font-size: 12px;
        height: 25px;

        div {
          height: 25px;
        }

        label {
          margin-left: 8px;
          text-align: right;
          line-height: 20px;
          color: @colorTan;

          span {
            height: 100%;
            vertical-align: top;
            font-weight: bold;
          }
        }

        input[type='text'] {
          text-align: center;
          margin-left: 8px;
          border-bottom: @borderGroove;
        }
      }
    }

    /* ----------------------------------------- */
    /*  Combat                                   */
    /* ----------------------------------------- */
    .combat {
      overflow-x: hidden;

      .initiative-input {
        height: calc(100% - 15px);
      }
    }

    .unarmed {
      div {
        display: inline-flex;

        i {
          padding-right: 3px;
          padding-left: 2px;
        }
      }

      a.effectTest {
        padding-left: 165px;
      }
    }

    /* ----------------------------------------- */
    /*  Property List                            */
    /* ----------------------------------------- */
    .actor-properties {
      max-width: 180px;
      min-width: 180px;
      flex: 0 0 180px;
      margin: 5px;
      padding-right: 5px;
      border-right: @borderGroove;

      .form-group {
        margin: 0;

        label {
          line-height: 20px;
        }

        input {
          text-align: right;
        }
      }

      .properties-list {
        list-style: none;
        margin: 0;
        padding: 0;

        .title {
          display: block;
          font-size: medium;
        }

        .sub-title {
          float: right;
        }

        .max-devotion {
          font-size: 15px;
          color: gray;
        }

        a,
        label {
          font-family: 'WarhorseDIY', serif;
        }

        .box-title {
          font-size: 15px;
          font-family: 'WarhorseDIY', serif;
        }

        li {
          margin: 3px 0;
          padding: 0 2px;
          background: rgba(0, 0, 0, 0.05);
          border: @borderGroove;
          text-align: center;
          font-size: 10px;
          line-height: 18px;

          .attribute {
            margin: 0;
            width: 100%;

            span {
              font-size: small;
            }
          }
        }

        .checkbox {
          text-align: left;
          margin-left: 45px;
        }
      }
    }

    /* ----------------------------------------- */
    /*  TinyMCE                                  */
    /* ----------------------------------------- */
    .editor {
      padding: 0 8px;
    }

    #actor-flags {
      .window-content {
        overflow-y: hidden;
      }

      form {
        height: 100%;
      }

      .form-body {
        height: calc(100% - 40px);
        padding-right: 8px;
        margin-bottom: 4px;
        overflow-y: auto;
        scrollbar-width: thin;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */
  ul.attributes {
    flex: 0 0 60px;
    list-style: none;
    margin: 0;
    padding: 0;

    li.attribute {
      height: 60px;
      margin: 0 5px 0 0;
      border: @borderGroove;
      border-radius: 4px;
      text-align: center;

      &:last-child {
        margin: 0;
      }

      .attribute-value {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        line-height: 28px;

        > * {
          font-weight: 400;
          font-size: 24px;
        }

        &.multiple input {
          flex: 0 0 33%;
        }
      }

      .attribute-footer {
        flex: 0 0 18px;
        margin-top: -1px;
        line-height: 18px;
        font-family: 'Signika', sans-serif;
        font-size: 12px;
        font-weight: 400;
        white-space: nowrap;
      }
    }
  }

  // Box Headers
  h4.box-title {
    height: 18px;
    line-height: 16px;
    margin: 4px 8px 2px;
    font-size: 18px;
    color: @colorOlive;
    border-bottom: 1px solid @colorFaint;
    white-space: nowrap;
  }
}
