<div class="tab-effects" data-group="primary" data-tab="effects">
    <div class="effects">  
        <table>
            <h3 class="headerLine">
                <div>
                    <span>
                        {{localize "earthdawn.e.effects"}}
                    </span>
                    <span class="itemControlGroup">
                        <a class="effect-add icon-left" data-type="effect" title="{{localize "earthdawn.n.newItem" }}">
                        <I class="fas fa-plus"></I>
                        </a>
                    </span>
                </div>
            </h3>
            <tr>
                <div class="item-list effects-list">
                    {{#each item.effects as |effects id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/effects-card.hbs" effects }}
                    {{/each}}
                </div>
            </tr>
        </table> 
    </div>
</div>